{% load static %}

<style>
    div{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 90%;
        margin: 1.5rem, auto;
    }
    .form-input{
        margin: 0.5rem auto;
    }
    button{
        background-color: black;
        color: white;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        font-weight: bolder;
    }
</style>

<div>
    <a href="{% url "Frontend:index" %}"> &#9664;  Go back to links</a>
</div>

<div>

    <h3 style="text-decoration: underline;">New Movie</h3>

    <form action="{% url 'Backend:add-movie' %}" method="POST">
        {% csrf_token %}
        {{form.as_div|safe}}
        <button type="submit">Submit</button>
    </form> 
</div>


<div>

    <table style="border: 1px solid black;">
        <thead>
            <tr style="
            background-color: black;
            color: white;
            text-align: center;
            ">
                <th>Movie</th>
                <th>Director</th>
                <th>Category</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
              <tr>
                <td>{{movie.name}}</td>
                <td>{{movie.director.name}}</td>
                <td>{{movie.category}}</td>
                <td>{{movie.release_date|date:'Y'}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
