<div style="
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 1.5rem, auto;">

    <h2>API URLS</h2>

    <ol>
        <li><a href="{% url "API:director-apiview" %}">LIST VIEW: Director</a></li>
        <li><a href="{% url "API:movie-apiview" %}">LIST VIEW: Movie</a></li>
        <li><a href="{% url "API:viewsets:director-list" %}">VIEWSETS: Director</a></li>
        <li><a href="{% url "API:viewsets:movie-list" %}">VIEWSETS: Movie</a></li>
        <li><a href="{% url "Frontend:add-director" %}">Add Director</a></li>
        <li><a href="{% url "Frontend:add-movie" %}">Add Movie</a></li>
    </ol>

</div>